<h1>Welcome</h1>

<%= form_tag "/registration" %>
<p>
  <%= radio_button_tag :user_type, 'students' %> I am a student
  <%= radio_button_tag :user_type, 'teachers' %> I am a teacher
</p>
<%= submit_tag "Sign in with Google" %>
