<h1 class="display-4"><%= @course.name %></h1>

<div class="container">
  <div class="row align-items-center">
    <div class="col-sm" id='my-points'>
      <h2>My Points: <%= @points %></h2>
      <br>
      <h2>Class Points: <%= @course.course_points %></h2>
    </div>
    <div class="col-sm">
      <h2><u>Prizes</u></h2>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">juan</a>
        <a href="#" class="list-group-item list-group-item-action active">deux</a>
        <a href="#" class="list-group-item list-group-item-action active">tre</a>
      </div>

    </div>
    <div class="col-sm">
      <h2><u>Class Wars</u></h2>
        <br>
        <ul>
          <li>juan</li>
          <li>too</li>
          <li>3</li>
        </ul>
    </div>
  </div>
</div>
