<h1 class="display-4"><%= @course.name %></h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <h2>My Points: <%= @current_user.points %></h2>
      </div>
      <div class="row">
        <h2><u>Class Wars</u></h2>
        <br>
        <ul>
          <li>juan</li>
          <li>too</li>
          <li>3</li>
        </ul>
      </div>    
    </div>
    <div class="col-sm">
      <h2><u>Class Leaderboard</u></h2>
      <ul>
        <li>juan</li>
        <li>too</li>
        <li>3</li>
      </ul> 
    </div>
    <div class="col-sm">
      <h2><u>Prizes</u></h2>
      <ul>
        <li>juan</li>
        <li>too</li>
        <li>3</li>
      </ul
    </div>
  </div>
</div>
