<div class="container">
  <div class="row">
    <div class="col-4 col-sm-6">
      <div class="row">
        <h2>My Points</h2>
        <h4><%= @current_user.points %></h4>
      </div>
      <div class="row">
        <h2>Class Wars</h2>
      </div>
    </div>
    <div class="col-4 col-sm-6">
      <h2>Class Leaderboard</h2>
    </div>    </div>
    <div class="col-4 col-sm-6">
      <h2>Prizes</h2>
    </div>
  </div>
</div>